body {
    background-color: lightskyblue;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

#close {
    margin: 5px 0px 15px 5px;
}

#characters {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#details {
    border: 2px solid black;
    padding: 0px 20px 20px 20px;
}

#details img {
    height: 400px;
    width: 380px;
    object-fit: cover;
    object-position: 0 0;
}

/* .btn {
    margin-left: 20px;
    margin-bottom: 5px;
} */

.character-card {
    text-align: center;
}

.card-img-top {
    height: 280px;
    width: 280px;
    object-fit: cover;
    object-position: 0 0;
    margin: 0 auto;
}

#Stark, #All {
    margin-top: 20px;
    margin-bottom: 20px;
}